# Ignore build directories
bin/
obj/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore VSCode specific files
.vscode/

# Ignore compiled object files
*.o

# Ignore compiled binaries
my_program

# Ignore log and temporary files
*.log
*.tmp
